{% extends 'base.html' %} {% load static %} {% load comment_tags %} {% load likes_tags %}
{% block header_extends %} {% endblock %}

{% block content %}


<div class="google-map-area w-100">
    <iframe class="contact-map"
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1260.5101354950239!2d106.89333876129365!3d47.89723150165245!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5d9693a5bcc85c77%3A0xdbb26ce64a3b6d91!2zNDXQkCwg0KXQo9CUIC0gMjAg0YXQvtGA0L7Qviwg0KPQu9Cw0LDQvdCx0LDQsNGC0LDRgCAxNzA0Mg!5e1!3m2!1smn!2smn!4v1724912459073!5m2!1smn!2smn"></iframe>
</div>


<div class="contact-title pb-3" data-aos="fade-up" data-aos-delay="300">
    <h2 class="title">Холбоо барих</h2>
</div>
<!-- Section Title End -->
<div class="contact-content">
    <p data-aos="fade-up" data-aos-delay="200">Монгол улс, Улаанбаатар хот, Хан-Уул дүүрэг, 3-р хороо, 19-р хороолол,
        Чингисийн өргөн чөлөө, "ХАН-УУЛ ДҮҮРГИЙН ИРГЭНИЙ ХЭРГИЙН АНХАН ШАТНЫ ШҮҮХ"</p>
    <address class="contact-block">
        <ul>
            <li data-aos="fade-up" data-aos-delay="200"><i class="fa fa-fax"></i> </li>
            <li data-aos="fade-up" data-aos-delay="400"><i class="fa fa-phone"></i> <a href="tel:11-341610"> + (976) -
                    11 - 341610</a></li>
            <li data-aos="fade-up" data-aos-delay="600"><i class="fa fa-envelope-o"></i> <a
                    href="mailto:i_bkhs_tg@shuukh.mn">i_bkhs_tg@shuukh.mn </a></li>
        </ul>
    </address>

    <div class="working-time" data-aos="fade-up" data-aos-delay="600">
        <h6 class="title">Цагийн хуваарь</h6>
        <p>Даваа – Баасан: 08:30AM – 19:30PM</p>
    </div>

</div>

<!-- Contact us Section End -->
{% endblock %}